# All ${} taken from .env file, create .env file in root of project.
version: "3.8"
services:
  github_webhook_server:
    container_name: github_webhook_server
    build: webhook-server-container
    security_opt:
      - seccomp:unconfined
    volumes:
      - ./config.yaml:/config.yaml:Z
      - ./webhook-server.private-key.pem:/config/webhook-server.private-key.pem:Z
      - ./tox-results:/webhook_server/tox
      - ./build-container-results:/webhook_server/build-container
      - ./python-module-install:/webhook_server/python-module-install
    environment:
      - FLASK_DEBUG=1 # Debug Flask server to get logs to console.
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Jerusalem
    ports:
      - "5000:5000"
    restart: unless-stopped
